# Data Wrangling

## Key concepts

 - Merging data frames
 - Miltering data frames
 - Manipulating rows and columns

### 1. Read dataset and examine data frames for duplicates(based on ID)

Importing the modules required

In [540]:
import pandas as pandas
import re
from functools import reduce
import operator
import numpy as numpy

Reading in the personality scores

In [541]:
personality_dataframe = pandas.read_csv("../data/personality_scores.csv", delimiter=';')

Examine the data frame for duplicates (based on ID), and drop any duplicates that exist

In [542]:
examined_personality_dataframe = personality_dataframe.drop_duplicates(subset='ID')
examined_personality_dataframe.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Asserting that the new data frame is the length of the unique entries of the original data frame

In [543]:
assert personality_dataframe['ID'].nunique() == len(examined_personality_dataframe['ID']),\
"The new dataframe is not the length of the unique entries of the original dataframe"

Deleting unnamed columns and the IPIP_HIGH_RISK column since they do not contain any data

In [544]:
for trait in examined_personality_dataframe:
    if "Unnamed:" in trait:
        del examined_personality_dataframe[trait]
    elif "IPIP_HIGH_RISK" in trait:
        del examined_personality_dataframe[trait]

Setting the ID column as the index

In [545]:
examined_personality_dataframe = examined_personality_dataframe.set_index('ID')

Displaying the filtered dataframe

In [546]:
examined_personality_dataframe.head()

,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],Section 5 of 6 [I am quiet around strangers.],...,Section 5 of 6 [I often forget to put things back in their proper place],Section 5 of 6 [I pay attention to details.],Section 5 of 6 [I seldom feel blue (down).],Section 5 of 6 [I spend time reflecting on things.],Section 5 of 6 [I start conversations.],Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.]
ID,,,,,,,,,,,,,,,,,,,,,
0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)","(1, 3)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)","(1, 3)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 1)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)","(1, 3)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)"
4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)","(1, 1)",...,"(3, 5)","(3, 5)","(4, 5)","(5, 5)","(1, 3)","(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"

Renaming the column names

In [547]:

examined_personality_dataframe.rename(columns = lambda x: x.replace('Section 5 of 6 [', ''), inplace = True)
examined_personality_dataframe.rename(columns = lambda x: x.replace('.]',''), inplace = True)
examined_personality_dataframe.rename(columns = lambda x: x.replace(']',''), inplace = True)
examined_personality_dataframe.head()

,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,I am quiet around strangers,...,I often forget to put things back in their proper place,I pay attention to details,I seldom feel blue (down),I spend time reflecting on things,I start conversations,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things
ID,,,,,,,,,,,,,,,,,,,,,
0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)","(1, 3)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)","(1, 3)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 1)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)","(1, 3)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)"
4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)","(1, 1)",...,"(3, 5)","(3, 5)","(4, 5)","(5, 5)","(1, 3)","(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"

### 2. Create new columns containing the total score of each of the personality test subscales by writing functions that will calculate the total score for each of the subscales

The Scores in the data are saved as tuples

Extracting the first value from the tuple, which indicates the subscale to which the item belongs (1 = Extraversion, 2 = Agreeableness, 3 = Conscientiousness, 4 = Emotional Stability/Neuroticism, and 5 = Intellect/Imagination / openness to experiences)

In [548]:
def subscale_trait(data_frame):
    sub = data_frame.str[1]
    return sub

In [549]:
subscale_dataframe = examined_personality_dataframe.apply(subscale_trait,axis = 1)
subscale_dataframe= subscale_dataframe.astype(int)
subscale_dataframe.head()

,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,I am quiet around strangers,...,I often forget to put things back in their proper place,I pay attention to details,I seldom feel blue (down),I spend time reflecting on things,I start conversations,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things
ID,,,,,,,,,,,,,,,,,,,,,
0,3,4,3,5,2,5,2,2,5,1,...,3,3,4,5,1,2,2,1,5,4
1,3,4,3,5,2,5,2,2,5,1,...,3,3,4,5,1,2,2,1,5,4
2,3,4,3,5,2,5,2,2,5,1,...,3,3,4,5,1,2,2,1,5,4
3,3,4,3,5,2,5,2,2,5,1,...,3,3,4,5,1,2,2,1,5,4
4,3,4,3,5,2,5,2,2,5,1,...,3,3,4,5,1,2,2,1,5,4

Extracting the second value from the tuple, which indicates the individual's scored response to that question (i.e., 1=Disagree, 3=Neutral and 5=Agree)

In [550]:
def scored_response(dataframe):
    response = dataframe.str[4]
    return response

In [551]:

scored_response_dataframe = examined_personality_dataframe.apply(scored_response, axis = 1)
scored_response_dataframe = scored_response_dataframe.astype(int)
scored_response_dataframe.head()

,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,I am quiet around strangers,...,I often forget to put things back in their proper place,I pay attention to details,I seldom feel blue (down),I spend time reflecting on things,I start conversations,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things
ID,,,,,,,,,,,,,,,,,,,,,
0,5,5,5,5,3,3,3,5,5,3,...,5,5,3,5,3,5,5,3,1,3
1,5,5,5,5,5,3,5,5,5,3,...,5,1,1,5,5,5,5,5,3,3
2,5,3,3,5,5,5,5,5,5,1,...,5,5,1,3,3,5,5,3,1,3
3,5,5,3,5,5,3,3,3,3,3,...,1,5,1,5,5,5,5,5,1,1
4,3,5,3,3,3,3,3,3,5,1,...,5,5,5,5,3,3,5,3,1,3

calculating the total score for each of the subscales

In [552]:
personality_subscales = ["Extraversion", "Agreeableness", "Conscientiousness", "Neuroticism", "Openness"]
subscales = pandas.DataFrame()

In [553]:
def subscale_sum(subscale, value):
    sub_1 = int(subscale[1])
    sub_2 = int(subscale[4])
    if (value == 'Extraversion') and ( sub_1 == 1):
        return sub_2
    elif (value == 'Agreeableness') and ( sub_1 == 2):
        return sub_2
    elif (value == 'Conscientiousness') and ( sub_1 == 3):
        return sub_2
    elif (value == 'Neuroticism') and ( sub_1 == 4):
        return sub_2
    elif (value == 'Openness') and ( sub_1 == 5):
        return sub_2
    else:
        return 0

In [554]:
def subscale_total(dataframe,trait):
    personality_traits = []
    for i in range(len(dataframe)):
        personality_traits.append(trait)
    sub_total = list(map(subscale_sum, dataframe,  personality_traits))
    total = reduce(operator.add, sub_total)
    return total

In [555]:
for j in personality_subscales:
    traits = []
    for k in range(len(examined_personality_dataframe)):
        traits.append(j)
    subscales[j] = list(map(subscale_total, examined_personality_dataframe.values, traits))

In [556]:
subscales.head()

   Extraversion  Agreeableness  Conscientiousness  Neuroticism  Openness
0            30             40                 48           36        42
1            42             46                 46           40        42
2            28             40                 40           38        42
3            30             38                 38           40        38
4            28             34                 46           38        36

### 3. Importing departments data and merging it to personality data

Reading in department dataframe

In [557]:
 = pandas.read_csv("../data/departments.csv", delimiter=';')

SyntaxError: invalid syntax (2544582199.py, line 1)

Merging peronality and department dataframes

In [ ]:
department_and_personality_dataframe = pandas.concat([department_dataframe, examined_personality_dataframe, subscales],\
                                                     axis = 1)

Setting ID column as index

In [ ]:
department_and_personality_dataframe = department_and_personality_dataframe.set_index("ID")
department_and_personality_dataframe.head()

Asserting that number of rows in merged dataframe is equal to number of rows in department dataframe

In [ ]:
assert len(department_and_personality_dataframe) == len(department_dataframe), \
"The number of rows of merged dataframe and departments dataframe are not the same"

### 4. Filtering the merged dataframe so that we get only the applicants who scored less than 30 on emotional stability, conscientiousness and agreeableness

Filtering dataframe by required filter

In [ ]:
filtered_dataframe = department_and_personality_dataframe[(department_and_personality_dataframe.Neuroticism < 30) & \
                                                          (department_and_personality_dataframe.Conscientiousness < 30) & \
                                                          (department_and_personality_dataframe.Agreeableness < 30)]
filtered_dataframe

Printing the ID numbers and departments of these applicants to the screen

In [ ]:
filtered_dataframe[["Department"]]

Assigning these applicants the tag “high_risk” in a new column and all other applicants the tag “low_risk”

In [ ]:
department_and_personality_dataframe["Risk"] = numpy.where((department_and_personality_dataframe.Neuroticism < 30) \
                                                           &(department_and_personality_dataframe.Conscientiousness < 30) & \
                                                           (department_and_personality_dataframe.Agreeableness <30), \
                                                           'High risk', 'Low risk')
department_and_personality_dataframe

### 5. Create a new data frame with a count of the number of low and high-risk applicants within each department.

In [564]:
risk_dataframe = pandas.DataFrame(department_and_personality_dataframe[['Risk','Department']].groupby(['Risk','Department']).size())
risk_dataframe = risk_dataframe.unstack("Department", fill_value=0)
risk_dataframe.columns = risk_dataframe.columns.droplevel()
risk_dataframe

Department  Copywriting  Data  Design  Strategy  Web Dev  Web dev
Risk
High risk             1     1       0         0        0        0
Low risk            325   328     120       449      170      161